$primary: #3B51A5; 
$secondary: #33C0F5; 
$warning: #F5C333; 

$body-color: #1a1a1a;
$link-color: #74B2E4;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 700px,  
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px
);

$border-radius: 0.75rem;    
$border-radius-lg: 1.25rem; 
$border-width: 2px;
$box-shadow: 0px 4px 10px rgba(51, 192, 245, 0.3); 

$h1-font-size: 2.8rem;
$h2-font-size: 2.2rem;
$h3-font-size: 1.8rem;

$font-family-base: 'Nunito', 'Comic Sans MS', sans-serif;
$font-family-sans-serif: $font-family-base; 
$headings-font-family: $font-family-base;

$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
$form-range-thumb-bg: $primary;       
$form-range-track-bg: #d3d3d3;        
$form-range-thumb-focus-box-shadow: 0 0 0 1px #fff, 0 0 0 0.25rem rgba(59, 81, 165, 0.25);

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: var(--culoare_fundal) !important;
}

#antet a, 
nav a, 
#subsol a {
    text-decoration: none;
    color: inherit;
}

#antet ul, nav ul {
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.btn-secondary {
    color: #ffffff !important;
}

body.dark {
    --culoare_fundal: #121212; 
    --culoare_contur: #FFCD00; 
    
    color: #f0f0f0; 

    #grid-pagina > *, .filtru-container, .produs {
        background-color: #1e1e1e !important;
        color: #f0f0f0;
        border-color: var(--culoare_contur);
    }

    .val-descriere {
        color: #bbb;
    }
}