@charset "UTF-8";

:root {
    --culoare-link-vizitat: #3B51A5;
    --culoare-hover: #F5C333;
    --c1: rgba(51, 192, 245, 0.4);
}

a:visited {
    color: var(--culoare-link-vizitat);
}

a[href^="http"]::before {
    content: "⮳ ";
    font-size: 1.5em;
    display: inline-block;
    transition: color 0.3s ease;
    color: black;
}

a[href^="http"]:hover::before {
    color: var(--culoare-hover);
}

main a {
    background-image: radial-gradient(ellipse, var(--c1) 0%, var(--c1) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: background-size 0.5s ease-out;
    padding: 2px 6px;
    border-radius: 5px;
    display: inline-block;
}

main a:hover {
    background-size: 100%;
    color: var(--culoare-hover);
}

