@import "custom"; 

.produs-single-card {
    .lead {
        color: #555;
    }
}

@media (max-width: 576px) {
    .single-produs-img {
        padding: 2rem !important;
    }
}

body[data-bs-theme="dark"] {
    .produs-single-card {
        background-color: $dark-bg-card !important;
        border-color: $dark-border-subtil !important;

        h1, h5, h6, small, time {
            color: #ffffff !important;
        }
        
        .text-secondary, 
        .Descriere, 
        .lead, 
        .text-muted,
        p, li, span {
            color: $dark-text-main !important;
        }

        .row.g-0 > div:first-child {
            background-color: #252525 !important; 
            border-color: #333 !important;
        }

        .bg-light {
            background-color: #2b2b2b !important;
        }

        hr {
            border-color: #444444 !important;
        }
    }
}