@charset "UTF-8";
#logo {
  order: 1;
}

#nume {
  order: 2;
}

nav {
  order: 3;
  background-color: #74B2E4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

ul.meniu, ul.meniu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.meniu {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}
ul.meniu ul {
  display: none;
  animation: animatie_submeniu 0.4s linear;
  transform-origin: center top;
}
ul.meniu ul li:hover > ul {
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
}
ul.meniu li {
  cursor: pointer;
  position: relative;
  width: 12em;
  height: 3em;
  background-color: #E6EDF2;
  border: 1px solid #74B2E4;
  color: #1A254B;
  text-align: center;
  line-height: 3em;
  transition: box-shadow 0.4s ease, color 0.4s ease, background-color 0.4s ease;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
ul.meniu li li {
  text-align: left;
}
ul.meniu > li:hover {
  background-color: #FFCD00;
  color: #3B51A5;
  border-color: #FFCD00;
  box-shadow: inset 0 0 15px rgb(51, 89, 243);
}
ul.meniu > li:hover li a:hover::before {
  animation: animatie_sageti 0.4s ease-in-out forwards;
}
ul.meniu > li:hover li a::before {
  content: "→";
  position: absolute;
  left: -10px;
  opacity: 0;
}
ul.meniu > li:hover > ul {
  display: block;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
}
ul.meniu a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding-left: 20px;
}
ul.meniu a:hover {
  color: #3359f3 !important;
}

#hamburger, #ch-menu {
  display: none;
}

.text-icon, .imag-icon {
  display: inline-block;
}

@media screen and (max-width: 1200px) {
  .text-icon {
    display: none;
  }
  li a {
    font-size: 0.9em;
  }
}
@keyframes animatie_submeniu {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(0.5);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes animatie_sageti {
  0% {
    left: -10px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}